h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: left;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-image: url("bg.jpeg");
}
